:root{
  --dark-bg:#0D1117;
  --light-bg:#FAF0E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  min-width: 450px;
  background-color: var(--light-bg);
}

.bg-mode-btn{
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
  margin-left: 2px;
  cursor: pointer;
}

.change-mod{
  margin-left: 85%;
  margin-bottom: 10px;
}
.input-btn {
  font-family: "Poppins", sans-serif;

  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 207, 27);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-top: 5px;
  transition: all 0.3s;
}

.input-btn:hover {
  background-color: rgb(12, 152, 10);
}

#input-el {
  width: 100%;
  height: 30px;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid rgb(12, 152, 10);
}

a {
  color: rgb(12, 152, 10);
}

.hidden {
  display: none;
}

.savedItems {
  margin-top: 10px;
}

li a {
  text-decoration: none;
  width: fit-content;
  text-underline-offset: 2px;
}

li a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.bin {
  border: none;
  background-color: transparent;
  margin-right: 5%;
  cursor: pointer;
}

.del-btn {
  background-color: rgb(222, 12, 12);

  &:hover {
    background-color: rgb(164, 4, 4);
  }
}

.bin:hover + a {
  text-decoration: line-through;
  color: red;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.edit {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.edit_text {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.edit_link{
  border: none;
  background-color: transparent;
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.input-edit-el {
  margin-bottom: 5px;
  width: 50%;
  height: 30px;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid rgb(12, 152, 10);
}


input[type="text"],input[type="search"] {
  background-color: #fff;
  border: 1.5px solid #ccc;
  color: #0D1117;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  width: auto;
  min-width: 150px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"],input[type="search"]:hover {
  border-color: #888;
}

input[type="text"],input[type="search"]:focus {
  border-color: #3A8DFF;
  box-shadow: 0 0 8px rgba(58, 141, 255, 0.5);
  outline: none;
}

input[type="text"]::placeholder,input[type="search"]::placeholder {
  color: #999;
  font-style: italic;
}

.items-container{
  margin-top: 10px;
  input{
    width: 100%;
  }
} 

.edit-custom-prop-name{
  width: 80% !important;
  color: #0D1117 !important;
}
.edit-custom-prop-link{
  width: 80% !important;
  color: #0661e0 !important;
}



.org-btn{
  background-color: orange;
}
.org-btn:hover{
  background-color: rgb(194, 130, 12);
}

li > *{
  display: inline-block;
}

li{
  display: flex;
  align-items: center;
}

<<<<<<< HEAD
.linkText{
  font-weight: bold;
=======
.bin-svg{
  width: 20px;
  object-fit: contain;
}
.edit_link-svg{
  width: 20px;
  object-fit: contain;
}
.edit_text-svg{
  width: 20px;
  object-fit: contain;
}
.edit-svg{
  width: 20px;
  object-fit: contain;
}
#darkModeBtn-svg{
  width: 20px;
  object-fit: contain;
}
#lightModeBtn-svg{
  width: 20px;
  object-fit: contain;
}

.linkText{
  font-weight: bold;
  font-size: 12px;
>>>>>>> svgicons
}